# Ignore node modules
node_modules

# Ignore composer dependencies
/vendor

# Ignore Laravel storage except storage/logs to capture logs
/storage/*
!/storage/logs

# Ignore environment files
# .env
# .env.*.local

# Ignore Laravel cache files
/bootstrap/cache/*.php

# Ignore log files
*.log

# Ignore IDE specific files
.idea
.vscode

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore
.gitattributes

# Ignore build artifacts
public/hot
public/storage
/public/storage

# Ignore test files
/tests

# Ignore npm/yarn lock files
package-lock.json
yarn.lock

# Ignore unnecessary Docker files
Dockerfile
docker-compose.yml
.dockerignore
